<div class="module mp3" ng-controller="mp3Controller">
  <koa-card heading="{{title}}">
    <div class="spinner-wrap" ng-click="play()" >
      <div class="spinner-outer"></div>
      <div class="spinner-center"></div>
      <div class="play-sprite"></div>
    </div>
    
    <mp3-tag></mp3-tag>
  </koa-card>
</div>

